<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.username %>!</h1>
    <p>Thanks for joining and have a great day! Please, follow this link to confirm your registration and then log in and do awesome things!</p>
    http://127.0.0.1:3000/confirmation/<%= @user.id %>
  </body>
</html>