<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>,</h1>
    <p>Please, check your email to confirm your registration</p>
  </body>
</html>